.icon{
    size: 20px;
    
}
.about{
    text-decoration: none;
    size: 36px;
   font-size: 50px;
   position: absolute;
   left: 880px;
   top: 40px;
}
.first{
    margin: 10px;
    height: 350px;
    width: 650px;
    position: absolute;
    top: 160px;
    left: 200px;
    border-radius: 5%;
    background-color: rgb(135, 160, 160);
    border: 5px solid rgb(136, 255, 229);
}
.second{
    margin: 10px;
    height: 350px;
    width: 650px;
    position: absolute;
    left: 1100px;
    bottom:415px;
    border-radius:5%;
    background-color: rgb(135, 160, 160);
    border: 5px solid rgb(136, 255, 229);
   
}


.human{
    border-radius: 50%;
    position: absolute;
    left: 252px;
}
.humans{
    border-radius: 10%;
    position: absolute;
    left: 258px;
    margin-top: 8px;
    
}
.para{
    position: absolute;
    top: 600px;
    left: 300px;
    font-size: 30px;
}
.experince{
    margin-top: 130px;
    margin-left: 260px;
    font-size: larger;

}
.education{
    margin-top: 130px;
    margin-left: 250px;
    font-size: larger;
}
body{
    background-color: rgb(226, 226, 226);
}